default_dark_mode 1

new_command _dual_panelify python -m sioyek.dual_panelify "{sioyek_path}" "%{file_path}" "{%command_text}"

font_size 23
status_bar_font_size 20

## Gruvbox : https://mil.ad/blog/2022/gruvbox-for-sioyek.html
custom_color_contrast 0.3
custom_color_mode_empty_background_color #000000
#custom_color_mode_empty_background_color #1d2021
#page_separator_color #7f292e
page_separator_color #1d2021
page_separator_width 5
custom_background_color #282828
custom_text_color #fbf1c7
search_highlight_color #7ec16e
status_bar_color #427b58
status_bar_text_color #fbf1c7

dark_mode_background_color 0.00 0.039 0.178
visual_mark_color 0.5 0.5 0.5 0.175
## Ayu
#custom_background_color 0.00 0.039 0.178
ruler_mode 1

startup_commands toggle_custom_color;toggle_visual_scroll;toggle_titlebar
